[submodule "external/abseil-cpp"]
	path = third_party/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "external/farmhash"]
	path = third_party/farmhash
	url = https://github.com/google/farmhash
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest
